*{
    box-sizing: border-box;
}
body{
    background-color: blue;
    color: white;
}

/*most times media queries should be placed at the bottom*/

@media screen and (max-width: 480px) {
    body{
        background-color: red;
    }
}

@media screen and (max-width: 320px) {
    body{
        background-color: yellow;
        color: black
    }
}